Source: ros-hydro-microstrain-3dmgx2-imu
Section: misc
Priority: extra
Maintainer: Chad Rockey <chadrockey@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-diagnostic-updater, ros-hydro-roscpp, ros-hydro-self-test, ros-hydro-sensor-msgs, ros-hydro-std-srvs, ros-hydro-tf
Homepage: http://www.ros.org/wiki/microstrain_3dmgx2_imu
Standards-Version: 3.9.2

Package: ros-hydro-microstrain-3dmgx2-imu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-diagnostic-updater, ros-hydro-roscpp, ros-hydro-self-test, ros-hydro-sensor-msgs, ros-hydro-std-srvs, ros-hydro-tf
Description: A driver for IMUs compatible the microstrain 3DM-GX2 and 3DM-GX3 protocol. Includes a heavily modified standalone driver pulled from the player distribution, and a ROS node.
